.customers {
}

.container {
}

.header {
}

.customers_title {
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
text-align: center;
text-transform: uppercase;
color: #212121;
margin-top: 80px;
}

.customers_title::after {
 content: '';
 display: block;
 width: 64px;
 height: 2px;
 margin: 34px auto 34px auto;
 background-color: #e72424;
}

.customers_text {
margin-bottom: 30px;
font-family: 'Open Sans';
font-weight: 400;
font-style: normal;
font-size: 14px;
color: #86878b
}

.customers-cards {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.customers-cards_item {
max-width: 300px;
margin-top: 35px;
/*display: flex;*/
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
}

.customers-cards_item_comment {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    padding: 8px 16px 9px;
    background: #E2E2E2;
    border-radius: 7px;
    position: relative;
    margin-bottom: 10px;
}
.customers-cards_item_comment::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #E2E2E2;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    left: 50;
    display: block;
}
.customers-cards_item_information {
    display: flex;
}
.customerss-cards-photo {
    margin: 0 45px 0 45px;
    width: 70px;
    height: 70px;
}
.customers-cards_item_information-data {
   
}
.customers-cards_item_information-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #333333;
    margin: 8px 0 12px 0;
}
.customers-cards_item_information-position {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #86878b;
}

/*.customers-cards_item_icon {
    width: 70px;
    height: 70px;
    margin: 0px 45px 0px 30px;
}

.customers-cards_item_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.customers-cards_item_info-name {
    font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

.customers-cards_item_info-position {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
}