
@import url('../css/awesome.css'); 
@import url('../css/bg.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/navigation.css');
@import url('../css/social.css');
@import url("../css/footer.css");
@import url('../css/feautures.css');



* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  .container {
    
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }





 




  
    








